<div class="job-card">
  <img
    src="./assets/brands/amazon.png"
    alt="Amazon Logo"
    class="company-logo"
  />
  <h2>Software Engineer</h2>
  <p class="company-name">Amazon</p>
  <p class="job-description">
    Web uygulamalarını geliştirmek ve bakımını yapmak. Takım çalışmasına yatkın,
    hızlı çözüm üretebilen, yenilikçi bir yazılım mühendisi arıyoruz. Mevcut
    sistemlerin iyileştirilmesi ve yeni özelliklerin eklenmesi konularında aktif
    rol alması beklenmektedir.
  </p>
  <ul class="skills">
    <li>JavaScript</li>
    <li>React</li>
    <li>Node.js</li>
  </ul>
</div>
