<div class="col-md-10 options-card">
    <div class="options-content-container">
        <span class="search-span">
            <p>Job Position</p>
            <input type="text" name="" id="" />
        </span>
        <span class="search-span">
            <p>Company</p>
            <input type="text" name="" id="" />
        </span>
        <span class="search-span">
            <p>Skills</p>
            <input type="text" name="" id="" />
        </span>
    </div>
    <button type="submit" class="search-button">Search</button>
</div>
