<div class="container">
  <h1>Talento'ya Hoşgeldiniz</h1>
  <p>Yüzlerce iş ilanını hemen keşfedin!</p>
  <a href="/job-posting" class="cta-button">Hemen Başlayın</a>
</div>
<div class="container">
  <h1>Özellikler</h1>
  <div class="features">
    <div class="feature-item">
      <h2>Otomatik CV Analizi</h2>
      <p>Yapay zekâ destekli platform, başvurular sırasında adayların CV'lerini
        otomatik olarak analiz eder, yeteneklerini ve deneyimlerini belirleyerek
        sınıflandırır. Bu sayede, İnsan Kaynakları departmanı zaman kaybetmeden
        en uygun adayları değerlendirmeye alabilir.</p>
    </div>
    <div class="feature-item">
      <h2>Yetenek Eşleştirme</h2>
      <p>Platform, açık pozisyonların gereksinimlerini adayların yetenekleri ile
        eşleştirir ve en uygun adayları önerir. Bu özellik, işe alım sürecini
        hızlandırır ve doğru adayların seçilme olasılığını artırır.</p>
    </div>
    <div class="feature-item">
      <h2>Performans ve Verimlilik Raporları</h2>
      <p>Başvuru sürecinin yanı sıra, platform mevcut çalışanların performansını
        ve verimliliğini takip eder, raporlar ve analizler sunar. Böylece, İnsan
        Kaynakları departmanı ve diğer yöneticiler, departmanların iş yükünü
        daha iyi yönetebilir ve verimliliği artırabilir.</p>
    </div>
  </div>
</div>

<div class="container">
  <h1>Hemen başlayın</h1>
  <div class="buttons">
    <a href="/log-in" class="button">İş Arıyorum</a>
    <a href="/log-in" class="button">Personel Arıyorum</a>
  </div>
</div>
