<div class="cwb_main">
    <h2>İş ve eleman bulmanın yeni adresi</h2>
    <button class="find_job">İş Arıyorum</button>
    <button class="recruiting">Personel Arıyorum</button>
    <img src="./assets/homepage/main.png" alt>
</div>
<!--
    <div class="cwb_main">
    <div class="left">
        <h1>TALENTO'ya Hoşgeldiniz</h1>
        <p>Hayalinizdeki işe açılan kapı.</p>
        <button class="find_job">İş Arıyorum</button>
        <button class="recruiting">Personel Arıyorum</button>
    </div>
    <div class="right">
        <img src="./assets/homepage/enterance.jpg" alt>
    </div>
</div>

-->