.cwb_main {
    position: relative;
    display: inline-block;
    width: 100%;
    
}

.find_job, .recruiting {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: white; /* Buton metin rengi */
    background-color: transparent; /* Arka plan rengi */
    border: none; /* Kenarlık */
    cursor: pointer; /* İmleç tipi */
    transition: transform 0.2s ease; /* Geçiş efekti */
}

.find_job {
    left: 8%; /* İş Arıyorum butonunun sol konumu */
}

.recruiting {
    left: 15%; /* Personel Arıyorum butonunun sağ konumu */
}

.find_job:hover, .recruiting:hover {
    transform: translateY(1px); /* Yükselme efekti */
    color: #feecde; /* Üzerine gelindiğinde arka plan rengi */
}

img {
    width: 100%;
    height: auto;
}