<body>
    <div class="hr-tests-container">
        <h2>Yetenek Testleri</h2>
        <div class="test-card">
            <div class="test-details">
                <h3>JavaScript Testi</h3>
                <p class="test-description">JavaScript ile ilgili temel ve ileri seviye sorular içerir. Test süresi 60 dakikadır.</p>
            </div>
            <div class="test-actions">
                <button class="edit-test-btn" routerLink="test">Çöz</button>
            </div>
        </div>
        <div class="test-card">
            <div class="test-details">
                <h3>Python Testi</h3>
                <p class="test-description">Python dilindeki temel kavramlardan ileri seviye algoritmalara kadar sorular içerir. Test süresi 45 dakikadır.</p>
            </div>
            <div class="test-actions">
                <button class="edit-test-btn" routerLink="test">Çöz</button>
            </div>
        </div>
        <div class="test-card">
            <div class="test-details">
                <h3>.Net Core Testi</h3>
                <p class="test-description">.NET Core kullanılarak oluşturulmuş bir REST API simülasyonu gerçekleştirilecektir. Test süresi 90 dakikadır.</p>
            </div>
            <div class="test-actions">
                <button class="edit-test-btn" routerLink="test">Çöz</button>
            </div>
        </div>
    </div>
</body>
