<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a routerLink="/admin">Ana Panel</a></li>
                <li><a routerLink="job-posting">İlanlar</a></li>
                <li><a routerLink="application">Başvurular</a></li>
                <li><a routerLink="skill-test">Yetenek Testleri</a></li>
                <li><a routerLink="calendar">Takvim</a></li>
                <li><a routerLink="policies">Politikalar</a></li>
                <li><a href="#">Çıkış</a></li>
            </ul>
        </div>
        <main></main>
    </div>
    <router-outlet></router-outlet>
</body>
