<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">İlanlar</a></li>
                <li><a href="#">Başvurular</a></li>
                <li><a href="#">Yetenek Testleri</a></li>
                <li><a href="#">Takvim</a></li>
                <li><a href="#">Analizler</a></li>
                <li><a href="#">Politikalar</a></li>
                <li><a href="#">Çıkış</a></li>
            </ul>
        </div>
        <main></main>
    </div>
</body>
<router-outlet></router-outlet>
