.buttonless_main {
    margin: 2.5% 0 2.5% 0;
    position: relative;
    display: inline-block;
    width: 100%;
    
}

h2 {
    position: absolute;
    top: 40%;
    left: 7%;
    color: black; 
    width: 50%;
}

img {
    width: 100%;
    height: auto;
}