<body>
    <div class="hr-tests-container">
        <h2>Yetenek Testleri</h2>
        <div class="test-card">
            <app-question question="1. JavaScript’te bir değişkenin veri tipini nasıl kontrol edersiniz?" answer1="typeof" answer2="getType" answer3="checkType" answer4="isType" answer5="bendedType"></app-question>
        </div>
        <div class="test-card">
            <app-question question="2. Aşağıdaki ifadelerden hangisi bir JavaScript dizisinin sonuna eleman ekler?" answer1="shift()" answer2="pop()" answer3="unshift()" answer4="push()" answer5="inNaN()"></app-question>
        </div>
        <div class="test-card">
            <app-question question="3. JavaScript'te bir fonksiyonun geriye değer döndürmesi için hangi ifade kullanılır?" answer1="return" answer2="yield" answer3="output" answer4="result" answer5="throw"></app-question>
        </div>
        <div class="test-card">
            <app-question question="4. JavaScript’te bir fonksiyon ifadesi nasıl tanımlanır?" answer1="function myFunc() {}" answer2="var myFunc = function() {}" answer3="let myFunc = new Function() {}" answer4="myFunc: function() {}" answer5="async function() : void {}"></app-question>
        </div>
        <div class="test-card">
            <app-question question="5. Bir değişkeni boş bir değere ayarlamak için hangi değer kullanılır?" answer1="null" answer2="undefined" answer3="''" answer4="0" answer5="-1"></app-question>
        </div>
        <div class="test-card">
            <app-question question="6. Aşağıdaki hangi ifade, 'strict mode'u etkinleştirir?" answer1="'use strict';" answer2="'strict mode';" answer3="'use strict mode';" answer4="'enable strict';" answer5="strict:true"></app-question>
        </div>
        <div class="test-card">
            <app-question question="7. JavaScript’te, var, let ve const arasındaki fark nedir?" answer1="var block scope, let ve const global scope kullanır." answer2="var block scope, let ve const function scope kullanır." answer3="var global scope, let ve const block scope kullanır." answer4="var, let ve const arasında fark yoktur." answer5="var ve let global scope,cosnt block scope kullanır."></app-question>
        </div>
        <div class="test-card">
            <app-question question="8. JavaScript'te bir obje içerisindeki tüm anahtarları almak için hangi yöntem kullanılır?" answer1="Object.values()" answer2="Object.entries()" answer3="Object.getKeys()" answer4="Object.keys()" answer5="var ve Object.getValues()"></app-question>
        </div>
        <div class="test-card">
            <app-question question="9. Aşağıdaki ifadelerden hangisi, JavaScript'te bir dizi elemanlarını yeni bir diziye dönüştürmek için kullanılır?" answer1="forEach()" answer2="map()" answer3="reduce()" answer4="filter()" answer5="pipe()"></app-question>
        </div>
        <div class="test-card">
            <app-question question="10. JavaScript’te bir Promise'in durumu 'resolved' olduğunda hangi yöntem çağrılır?" answer1="catch()" answer2="finally()" answer3="then()" answer4="done()" answer5="throw()"></app-question>
        </div>
        <button class="edit-test-btn" routerLink="/skill-tests">Cevapları Kaydet</button>
    </div>
</body>
