<body>
    <div class="hr-tests-container">
        <h2>Yetenek Testleri</h2>
        <button class="create-test-btn"  (click)="navigateToCreateTest()">Yeni Test Oluştur</button>
        <div class="test-card">
            <div class="test-details">
                <h3>JavaScript Testi</h3>
                <p class="test-description">JavaScript ile ilgili temel ve ileri seviye sorular içerir. Test süresi 60 dakikadır.</p>
            </div>
            <div class="test-actions">
                <button class="edit-test-btn">Düzenle</button>
                <button class="delete-test-btn">Sil</button>
            </div>
        </div>
        <div class="test-card">
            <div class="test-details">
                <h3>Python Testi</h3>
                <p class="test-description">Python dilindeki temel kavramlardan ileri seviye algoritmalara kadar sorular içerir. Test süresi 45 dakikadır.</p>
            </div>
            <div class="test-actions">
                <button class="edit-test-btn">Düzenle</button>
                <button class="delete-test-btn">Sil</button>
            </div>
        </div>
    </div>
</body>
