<body>
    <div class="signup-container">
        <div class="signup-card">
            <h2>Kayıt Ol</h2>
            <form>
                <div class="form-group">
                    <label for="name">İsim</label>
                    <input type="text" id="name" [(ngModel)]="fullName" name="fullName" required />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" [(ngModel)]="email" name="email" required />
                </div>
                <div class="form-group">
                    <label for="password">Şifre</label>
                    <input type="password" id="password" [(ngModel)]="password" name="password" required />
                </div>
                <button type="submit" class="signup-button" (click)="signUp(fullName, email, password)">Kayıt Ol</button>
            </form>
            <p class="login-text">Zaten hesabınız var mı? <a routerLink="log-in">Giriş Yap</a></p>
        </div>
    </div>
</body>
