<div class="main-div">
  <h1 class="header">Admin Paneli</h1>
  <div class="inner-div">
    <div class="link-to-side-outer-div">
      <div class="link-to-side-div" (click)="navigateToJobPosting()">
        <div>
          <img class="icon" src="/assets/brands/social.png" alt="İlanlar"/>
        </div>
        <div class="link-to-side-right-div">
          <h2>İlanlar</h2>
          <p>3 farklı pozisyon, 5 farklı yetenek için açılmış 4 farklı ilanınız
            bulunmaktadır.</p>
        </div>
      </div>

      <div class="link-to-side-div" (click)="navigateToTalentTest()">
        <div>
          <img class="icon" src="/assets/brands/aptitude (1).png"
               alt="Yetenek Testleri"/>
        </div>
        <div class="link-to-side-right-div">
          <h2>Yetenek Testleri</h2>
          <p>2 tanesi sonuçlanmış 4 tanesi devam eden toplamda 6 tane yetenek
            testiniz bulunmaktadır.</p>
        </div>
      </div>

      <div class="link-to-side-div" (click)="navigateToApplicants()">
        <div>
          <img class="icon" src="/assets/brands/test.png" alt="Başvurular"/>
        </div>
        <div class="link-to-side-right-div">
          <h2>Başvurular</h2>
          <p>5 tane okunmamış 24 tane okunmuş toplamda 29 tane başvurunuz
            bulunmaktadır.</p>
        </div>
      </div>

      <div class="chart">
        <h1 style="text-align: center;">Tarihe Göre İlan Sayıları</h1>
        <div class="bars horizontal">
          <div class="bar hor" [style.height]="adverts.count[0] * 10 + '%' ">{{ adverts.count[0] }}</div>
          <div class="bar hor" [style.height]="adverts.count[1] * 10 + '%' ">{{ adverts.count[1] }}</div>
          <div class="bar hor" [style.height]="adverts.count[2] * 10 + '%' ">{{ adverts.count[2] }}</div>
          <div class="bar hor" [style.height]="adverts.count[3] * 10 + '%' ">{{ adverts.count[3] }}</div>
          <div class="bar hor" [style.height]="adverts.count[4] * 10 + '%' ">{{ adverts.count[4] }}</div>
          <div class="bar hor" [style.height]="adverts.count[5] * 10 + '%' ">{{ adverts.count[5] }}</div>
          <div class="bar hor" [style.height]="adverts.count[6] * 10 + '%' ">{{ adverts.count[6] }}</div>
          <div class="bar hor" [style.height]="adverts.count[7] * 10 + '%' ">{{ adverts.count[7] }}</div>
          <div class="bar hor" [style.height]="adverts.count[8] * 10 + '%' ">{{ adverts.count[8] }}</div>
        </div>
        <span class="bottom-line"></span>
        <div class="numbers">
          <h3 class="date">{{ adverts.uploadDate[0] }}</h3>
          <h3 class="date">{{ adverts.uploadDate[1] }}</h3>
          <h3 class="date">{{ adverts.uploadDate[2] }}</h3>
          <h3 class="date">{{ adverts.uploadDate[3] }}</h3>
          <h3 class="date">{{ adverts.uploadDate[4] }}</h3>
          <h3 class="date">{{ adverts.uploadDate[5] }}</h3>
          <h3 class="date">{{ adverts.uploadDate[6] }}</h3>
          <h3 class="date">{{ adverts.uploadDate[7] }}</h3>
          <h3 class="date">{{ adverts.uploadDate[8] }}</h3>
        </div>
      </div>
    </div>

    <div class="calendar-outer-div">
      <div class="calendar-div" (click)="navigateToCalendar()">
        <h2 style="text-align: center; margin-top: 10px; z-index: 5">
          Takviminizde yeni etkinlikler var, hemen göz atın!</h2>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <img class="calendar-image" src="assets/brands/calendar.jpg"/>
        <img class="calendar-image" src="assets/brands/calendar.jpg"/>
        <img class="calendar-image" src="assets/brands/calendar.jpg"/>
      </div>

      <div class="chart">
        <h1 style="text-align: center;">Top 5 Başvuran</h1>
        <div class="bars">
          <div class="bar"
               [style.width]="data.cvScore[0] + '%' ">{{ data.name[0] }}
            ({{ data.cvScore[0] }})
          </div>
          <div class="bar"
               [style.width]="data.cvScore[1] + '%' ">{{ data.name[1] }}
            ({{ data.cvScore[1] }})
          </div>
          <div class="bar"
               [style.width]="data.cvScore[2] + '%' ">{{ data.name[2] }}
            ({{ data.cvScore[2] }})
          </div>
          <div class="bar"
               [style.width]="data.cvScore[3] + '%' ">{{ data.name[3] }}
            ({{ data.cvScore[3] }})
          </div>
          <div class="bar"
               [style.width]="data.cvScore[4] + '%' ">{{ data.name[4] }}
            ({{ data.cvScore[4] }})
          </div>
        </div>
        <span class="bottom-line"></span>
        <div class="numbers">
          <h2>0</h2>
          <h2>25</h2>
          <h2>50</h2>
          <h2>75</h2>
          <h2>100</h2>
        </div>
      </div>

      <div class="policy-div"></div>
    </div>
  </div>
</div>
