.main-div {
  position: absolute;
  left: 20%;
  top: 12%;
}

.header {
  font-size: 3rem;
  margin: 10px 0 40px 0;
}

.inner-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  margin-right: 20px;
}

.link-to-side-div {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: fit-content;
  padding: 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: 700px;
  transition: border-color 150ms ease, transform 150ms ease;
}

.link-to-side-div:hover {
  transform: translateX(5px);
}

.link-to-side-right-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar-outer-div {
  width: 42%;
  min-height: 400px;
  margin: 0 20px 20px;
  overflow: hidden;
  border-radius: 20px;
  max-width: 450px;
}

.calendar-div {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  transition: border-color 150ms ease, transform 150ms ease;
}

.calendar-image {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 0;
  left: 17%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: transform 250ms ease;
}

.calendar-div:hover .calendar-image:nth-child(15) {
  transform: rotate(30deg) scale(105%);
}

.calendar-div:hover .calendar-image:nth-child(16) {
  transform: scale(105%);
}

.calendar-div:hover .calendar-image:nth-child(17) {
  transform: rotate(-30deg) scale(105%);
}

.calendar-image:nth-child(15) {
  transform: rotate(20deg);
  filter: revert;
}

.calendar-image:nth-child(16) {
  transform: rotate(0deg);
  filter: revert;
}

.calendar-image:nth-child(17) {
  transform: rotate(-20deg);
  filter: revert;
}

.chart {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  max-width: 700px;
  transition: border-color 150ms ease, transform 150ms ease;
}

.chart h1 {
  font-weight: 500;
}

.bar {
  width: 10%;
  background-color: black;
  height: 40px;
  margin: 10px 0 0 0;
  color: lightgrey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  border-radius: 10px;
  text-wrap: nowrap;
  transition: width 1s ease;
}

.hor {
  width: 100%;
  margin: 0 10px 0 0;
  height: 20%;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  transition: height 1s ease;
}

.date {
  writing-mode: vertical-lr;
  margin-top: 10px;
}

.hor:last-child {
  margin: 0;
}

.horizontal {
  display: flex;
  flex-direction: row;
  height: 300px;
  align-items: flex-end;
}

.bottom-line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 10px;
  position: relative;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.numbers h2 {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  color: black;
}

