<body>
    <div class="hr-tests-container">
        <h2>Yetenek Testi Oluştur</h2>
        <div class="cards">

            <div *ngFor="let card of cards" class="card blue">

            </div>
            <div class="card blue">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="question" class="form-label">Soru Yazınız</label>
                        <input type="text" id="question" formControlName="question" class="form-input"
                            placeholder="Soru" required>
                    </div>

                    <div class="form-group options-group">
                        <div class="option-pair">
                            <div class="form-group">
                                <label for="option1" class="form-label">Seçenek 1</label>
                                <input type="text" id="option1" formControlName="option1" class="form-input"
                                    placeholder="Seçenek 1" required>
                            </div>
                            <div class="form-group">
                                <label for="option2" class="form-label">Seçenek 2</label>
                                <input type="text" id="option2" formControlName="option2" class="form-input"
                                    placeholder="Seçenek 2" required>
                            </div>
                        </div>
                        <div class="option-pair">
                            <div class="form-group">
                                <label for="option3" class="form-label">Seçenek 3</label>
                                <input type="text" id="option3" formControlName="option3" class="form-input"
                                    placeholder="Seçenek 3" required>
                            </div>
                            <div class="form-group">
                                <label for="option4" class="form-label">Seçenek 4</label>
                                <input type="text" id="option4" formControlName="option4" class="form-input"
                                    placeholder="Seçenek 4" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="correct" class="form-label">Doğru Seçenek</label>
                        <select id="correct" formControlName="correct" class="form-select" required>
                            <option value="option1">Seçenek 1</option>
                            <option value="option2">Seçenek 2</option>
                            <option value="option3">Seçenek 3</option>
                            <option value="option4">Seçenek 4</option>
                        </select>
                    </div>
                    <button type="submit" class="form-button">Soruyu Kaydet</button>
                </form>
            </div>

            
        </div>
    </div>

</body>