body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.hr-tests-container {
    position: absolute;
    left: 20%;
    top: 12%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
    animation: fadeIn 1s ease-in-out;
}

.cards .blue {
    background-color: #a6c2eb;
}
.cards .yellow {
    background-color: #45a049;
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards .card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input,
.form-select {
    width: calc(100% - 24px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-input:focus,
.form-select:focus {
    border-color: #007bff;
    outline: none;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}

.options-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.option-pair {
    display: flex;
    flex: 1;
    gap: 10px;
}

.option-pair .form-group {
    flex: 1;
}
